@model IEnumerable<Product>

<div class="row my-2" style="justify-content: center;">
    @foreach (var product in Model)
    {
        <div class="card text-white mb-2 mx-2 p-0" style="width: 20rem;">
            <div class="card-header px-0 mx-0 py-0" style="border-top-left-radius: 8px; border-top-right-radius: 8px; height: 15rem;">
                <img src="@product.ImageUrl" width="100%" style="height: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;"/>
            </div>
            <div class="card-body px-2 py-2">
                <h4 class="card-title">@product.Title</h4>
                <p class="h6 text-info">by @product.Author</p>
                <span class="badge bg-light text-decoration-line-through">Price: @product.ListPrice.ToString("c")</span>
                <br/>
                <span class="badge bg-success">@product.Price100.ToString("c")</span>
                <br/>
                <a asp-action="Details" asp-route-productId="@product.Id" type="button" class="btn btn-primary mt-2" style="width: 100%; font-size: small;">DETAILS</a>
            </div>
        </div>
    }
</div>
